// Colors
$colorLightGray: hsl(0, 0%, 81%);
$colorLightGrayishBlueTrans50: hsla(210, 46%, 95%, 0.5);
$colorLightGrayishBlueTrans70: hsla(210, 46%, 95%, 0.7);
$colorLightGrayishBlue: hsl(210, 46%, 95%);
$colorWhite: hsl(0, 0%, 100%);
$colorDarkBlackBlue: hsl(219, 29%, 14%);
$colorDarkBlackBlue50: hsla(217, 30%, 14%, 0.5);
$colorDarkBlackBlue70: hsla(217, 30%, 14%, 0.7);
$colorDarkGrayBlue: hsl(217, 19%, 35%);
$colorViolet: hsl(263, 55%, 52%);
$colorGrayViolet: hsl(263, 30%, 56%);
